@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-background-dark: color-mix(in oklch, var(--background) 80%, black);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --shadow-window: 0 0.5rem 2rem 0 color-mix(in srgb, var(--background) 24%, transparent),
    0 0.09375rem 0.25rem 0 color-mix(in srgb, var(--background) 12%, transparent);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.255 0.0233 230.47);
  --foreground: oklch(0.745 0.00777 50.47);
  --primary: oklch(0.745 0.0699 122.47);
  --secondary: oklch(0.745 0.0699 302.47);
  --accent: oklch(0.745 0.0699 50.47);
}
/* TODO: Dark mode */
/* 
.dark {
} */

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
  #app {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
  }
  .safe-area-pad {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

@layer utilities {
  body {
    scrollbar-color: var(--background) var(--foreground);
    scrollbar-width: thin;
  }
}
